div {
  text-align: center;
}

.result {
  padding: 15px;
  text-align: end;
  color: white;
}

.calculator {
  width: 32rem;
  height: 23rem;
  background-color: #858693;
  margin: auto;
}

.calculator-input {
  text-align: right;
  font-weight: bold;
  font-size: xx-large;
}

.calculator-keypad {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  padding: 20px;
  border: 0.1px solid #858693;
}

.keys-numbers {
  color: #000;
  font-size: 1em;
  font-weight: bold;
  width: 30%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.keys-operators {
  color: #000;
  background-color: #f5913e;
  font-size: 1em;
  font-weight: bold;
  width: 30%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.keys-function {
  font-size: 1em;
  font-weight: bold;
  width: 30%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.key-zero {
  width: 62.5%;
}

.keys-numbers:hover {
  background-color: #979797;
}

.keys-function:hover {
  background-color: #979797;
}

.keys-operators:hover {
  background-color: #de6c0f;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.rotate {
  transform: rotate(90deg);
  width: 19px;
}

hr {
  align-items: center;
  height: 1px;
  background-color: black;
}

li {
  cursor: pointer;
}

.para {
    padding-top: 20%;
    text-align: center;
}

.content {
  text-align: start;
  margin: 30px;
}

.cal{
  display: flex;
  padding-top: 10%;
  justify-content: space-between;
  margin-left: 28px;
}